/* .other-information {
} */
.other-information-container {
    margin: 30px auto;
    /* width: 400px; */
    /* height: 30px; */
    padding-left: 0;
}

.other-information-button {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.472);
    transition: ease 0.5s;
    text-align: center;
    font-size: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13%;
    outline: none;
    border: none;
    background-color: rgb(77, 212, 212);
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}
.other-information-button:hover {
    background-color: rgb(66, 180, 180);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.472);
}
.other-information-content {
    margin: 30px auto;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 40%;
    text-align: justify;
}
.other-information-languages {
    margin: 30px auto;
    width: 40%;
    text-align: center;
}
.display-none {
    display: none;
}
.list-separator {
    padding: 20px 0;
}
.fa-check-double {
    color: lightcoral;
}
li {
    list-style: none;
}
@media (max-width: 768px) {
    .other-information-button {
        width: 20%;
        padding: 10px 15px;
        font-size: 15px;
    }
}
