.portfolio-image-container {
}
.portfolio-image-container a {
    margin: 50px 50px;
    display: block;
    border: rgba(72, 77, 93, 0.342) solid 1px;
    padding: 10px;
}
.portfolio-image-container a img {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .portfolio-image-container a {
        margin: 50px 20px;
    }
}
