.nav-menu {
}
.nav-menu-image-container {
    width: 600px;
    margin: auto;
    background-image: url(../../static/img/pantalla.svg);
}
.nav-menu-items-container {
    background-color: transparent;
    width: 400px;
    position: relative;
    color: black;
    top: -300px;
    margin: auto;
    height: 60px;
}
.nav-menu-title {
    text-align: center;
    font-size: 50px;
    text-decoration: none;
    display: block;
    color: black;
    padding: 20px;
    font-family: 'Indie Flower', cursive;
}
.pencil {
    width: 200px;
    margin: auto;
    display: block;
}
span {
    color: rgb(223, 216, 117);
    font-size: 80px;
}
