.nav-menu {
    height: 38vw;
}
.nav-menu-image-container {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
}
.nav-menu-image-containe img {
    width: 100%;
    height: auto;
}
.nav-menu-items-container {
    position: absolute;
    bottom: 20%;
    overflow: hidden;
    width: 60%;
}
.nav-menu-links-container {
    display: flex;
    position: relative;
    width: 400%;
    animation: switch 20s infinite ease;
}

@keyframes switch {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 0;
    }

    27% {
        margin-left: -100%;
    }
    50% {
        margin-left: -100%;
    }

    52% {
        margin-left: -200%;
    }
    75% {
        margin-left: -200%;
    }

    77% {
        margin-left: -300%;
    }
    99% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0;
    }
}

.nav-menu-link {
    background-color: transparent;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: relative;
    bottom: 90%;
    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 4vw;
    font-weight: bold;
}
.nav-menu-link:target {
    left: 0;
}
.pencil {
    width: 20vw;
    margin: auto;
    display: block;
}
.simbol {
    font-size: 2.5em;
    color: khaki;
}

/* ===== FUNTION STYLES ==== */
#about-me-margin {
    margin-left: -1%;
}
#curriculum-margin {
    margin-left: -100%;
}
@media (max-width: 768px) {
    .nav-menu {
        height: 68vw;
    }
    .nav-menu-image-container {
        width: 90%;
    }
    .nav-menu-link {
        background-color: transparent;
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;

        color: black;
        font-family: 'Indie Flower', cursive;
        font-size: 6vw;
        font-weight: bold;
    }
    .pencil {
        width: 30vw;
        margin: auto;
        display: block;
    }
    .nav-menu-items-container {
        bottom: 25%;
    }
}
