.nav-menu {
    height: 38vw;
}
.nav-menu-image-container {
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    position: relative;
}
.nav-menu-image-containe img {
    width: 100%;
    height: auto;
}
.nav-menu-items-container {
    position: absolute;
    bottom: 15%;
}

.nav-menu-link {
    background-color: transparent;
    margin: auto;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;

    color: black;
    font-family: 'Indie Flower', cursive;
    font-size: 4vw;
    font-weight: bold;
}
.pencil {
    width: 20vw;
    margin: auto;
    display: block;
}
.simbol {
    font-size: 2em;
}
@media (max-width: 768px) {
    .nav-menu {
        height: 68vw;
    }
    .nav-menu-image-container {
        width: 90%;
    }
    .nav-menu-link {
        background-color: transparent;
        margin: auto;
        display: block;
        width: 100%;
        text-align: center;
        text-decoration: none;

        color: black;
        font-family: 'Indie Flower', cursive;
        font-size: 6vw;
        font-weight: bold;
    }
    .pencil {
        width: 30vw;
        margin: auto;
        display: block;
    }
}
