.header-title {
    color: rgb(34, 187, 179);
    text-align: center;
    font-size: 70px;
    margin-bottom: 0;
    padding-top: 20px;
    font-family: 'Indie Flower', cursive;
    line-height: 70px;
}
.header-slogan {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 768px) {
    .header-title {
        font-size: 50px;
    }
    .header-slogan {
        font-size: 20px;
    }
}
