.buttons-nav-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: auto;
    width: 200px;
    /* display: block; */
}
.buttons-nav {
    margin: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(116, 114, 114);
    border: none;
    outline: none;
    transition: ease 0.5s;
}
.buttons-nav:hover {
    background-color: rgb(47, 45, 45);
    transition: ease 0.5s;
}

@media (max-width: 768px) {
    .buttons-nav-container {
        display: none;
    }
}
