.about-me {
    margin-top: 80px;
}
.section-title {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin: 30px auto;
    display: block;
    width: 500px;
    text-align: center;
}
.about-me-content {
    padding: 20px 150px;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}
.greeting {
    font-weight: bold;
    font-size: 25px;
}
.simbol-2 {
    color: rgb(218, 118, 118);
}

/* ==== OTHER INFORMATION==== */

/* ====NETWORKS==== */
.networks {
    display: flex;
    justify-content: center;
    font-size: 100px;
    color: black;
}
.networks a {
    margin: 30px;
}
.networks a i {
    color: rgb(117, 125, 151);
}
.networks a:hover i {
    color: rgb(72, 77, 93);
}
